/*/ //////////////////////////
// Fonts
// /////////////////////////*/

@font-face {
	font-family: "Inter";
	src: url('../fonts/Inter-Regular.eot');
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype'),
    url('../fonts/Inter-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*/ //////////////////////////
// Global
// /////////////////////////*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --s-max: 767.9px;
  --m-min: 768px;
  --m-max: 1439.9px;
  --l-min: 1440px;

  --s-padding: 20px;
  --m-padding: 20px;
  --l-padding: 20px;

  --min-content: var(--s-min);

  --text-color: #0d0e42;
  --bg-color: #eeeeee;
  --bg-color-workspace: #fbfbfb;
  --bg-color-light: #ffffff;
  --bg-unanaible-plasce: #dddddd;

  --input-border-color: #888888;
  --input-border-color-active: #ea3232;

  --border-radius: 4px;
  --border-radius-btn: 3px;

  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  min-width: var(--min-content);
  margin: 0;
  padding: 0;

  font-family: "Inter", "Candara", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  text-transform: unset;

  color: var(--text-color);
  background-color: var(--bg-color);
}

main {
  flex-grow: 1;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.list-default {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*/ //////////////////////////
// UI Kit
// /////////////////////////*/

.btn {
  appearance: none;
  display: inline-block;
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  color: inherit;
  background-color: transparent;
  text-decoration: none;
  text-align: center;

  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  transition: 0.25s ease-out;
}

.button-with-picture {
  display: inline-block;
  width: 26px;
  height: 26px;

  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-btn);
}

.picture-button {
  width: 25px;
  height: 25px;
  border-radius: var(--border-radius-btn);
}

.button-with-picture_tiny {
  display: inline-block;
  width: 16px;
  height: 16px;

  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-btn);
}

.picture-button_tiny {
  width: 15px;
  height: 15px;
  border-radius: var(--border-radius-btn);
}

/*/ //////////////////////////
// Grids
// /////////////////////////*/

.container-fluid {
  width: 100%;
}

@media (max-width: 767.9px) {
  .container-fluid {
    padding: 0 var(--s-padding);
  }
}

@media (min-width: 768px) and (max-width:1439.9px) {
  .container-fluid {
    padding: 0 var(--m-padding);
  }
}

@media (min-width: 1440px) {
  .container-fluid {
    padding: 0 var(--l-padding);
  }
}

/*/ //////////////////////////
// Main frames
// /////////////////////////*/

.main,
.footer {
  --height-footer: 30px;
}

.main {
  --height-head: 60px;
  --gap-grid: 10px;
  --width-nav: 250px;

  display: grid;
  grid-template-rows: calc(var(--height-head) - var(--gap-grid)) calc(100vh - var(--height-head) - var(--height-footer) - var(--gap-grid));
  grid-template-columns: calc(var(--width-nav) - var(--gap-grid)) calc(100vw - var(--width-nav) - var(--gap-grid));
  grid-gap: calc(var(--gap-grid) / 2);

  justify-content: center;
  align-content: center;

  background-color: var(--bg-color);
}

.main-area {
  padding: 10px;

  border-radius: var(--border-radius);
  background-color: var(--bg-color-workspace);
  box-shadow: 2px 2px 5px 2px rgba(34, 60, 80, 0.2);
}

.main-area__navigation {
  padding: 12px;
}

.footer {
  height: var(--height-footer);

  background-color: var(--bg-unanaible-plasce);
}

/*/ //////////////////////////
// Header
// /////////////////////////*/

/* Logo */

.main-area__logo {
  display: flex;
  align-items: center;
}

.main-area__logo_img {
  width: 24px;
  height: 24px;

  margin-right: 15px;
}

.main-area__logo_name {
  font-weight: bold;
  opacity: 0.4;
}

/* Title */

.main-area__title {
  display: flex;
  align-items: center;
}

.main-title__bread-crumbs {
  margin-right: auto;
}

.main-title__search {
  margin-right: 6px;
}

.main-title__settings {
  margin-right: 6px;
}

.main-title__account {
}

.search__wrap {
  position: relative;
  display: flex;
  flex-direction: row;
}

.search__input {
  width: 100px;
  padding: 5px 10px;
  padding-right: 25px;

  border-radius: var(--border-radius-btn);
  border-width: 1px;
  outline: none;

  background-color: var(--bg-color-workspace);
  border-color: var(--input-border-color);

  transition: all 0.2s;
}

.search__input,
.search__input::placeholder {
  font-size: 0.85em;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

.search__input::placeholder {
  opacity: 0.5;
}

.search__input:hover {
  background-color:var(--bg-color-light);
  border-color: var(--input-border-color-active);
}

.search__input:active,
.search__input:focus {
  border-color: var(--input-border-color-active);
}

.search__button {
  position: absolute;
  top: 2px;
  right: 3px;
}

.search__btn-img {
  position: absolute;
  top: 0;
  right: 0;
}

/*/ //////////////////////////
// Navigation
// /////////////////////////*/

.menu {
  margin-bottom: 22px;
  padding: 13px;
  /* border: rgba(136, 136, 136, 0.3) 1px dotted; */
  border-radius: var(--border-radius);
}

.menu__title-wrap,
.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__title-wrap {
  padding-bottom: 5px;
  margin-bottom: 5px;

  border-bottom: rgba(136, 136, 136, 0.3) 1px dotted;
}

.menu__title {
  font-size: 0.85em;
}

.menu-item {
  margin-bottom: 5px;
}

.menu__toggle-btn {
  position: relative;
}

.menu__toggle-btn::before,
.menu-js-opened .menu__toggle-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;

  width: 8px;
  height: 2px;
  background-color: var(--input-border-color);

  transform: rotate(-45deg);
  transition: all 0.4s ease-in-out;
}

.menu__toggle-btn::after,
.menu-js-opened .menu__toggle-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 1px;

  width: 8px;
  height: 2px;
  background-color: var(--input-border-color);

  transform: rotate(45deg);
  transition: all 0.4s ease-in-out;
}

.menu-js-closed .menu__toggle-btn::before {
  transform: rotate(45deg);
}

.menu-js-closed .menu__toggle-btn::after {
  transform: rotate(-45deg);
}

.menu-js-opened .menu__list-wrap {
  display: block;
}

.menu-js-closed .menu__list-wrap {
  display: none;
}
